@use "@/styling/colors.scss" as c;
@use "@/styling/vars.scss" as v;

.block {
  position: relative;
  z-index: 1;
  border: 3px solid c.$cambridge_blue;
  text-align: center;
  display: block;
  padding: 14px;
  width: fit-content;
  user-select: none;
  translate: 0 0;
  transition: 0.3s v.$cubic_bezier;
  transition-property: translate;
  background-color: c.$bg;

  &.clickable {
    &:focus-within,
    &:hover,
    &.block__active {
      translate: 0 -12px;
      cursor: pointer;
    }

    &:active {
      scale: 0.975;
      border-color: white;
      transition-property: scale;
      transition-duration: 0.1s;
    }
  }
}

@keyframes block-click-effect {
  from {
    opacity: 1;
    width: var(--block-width);
    height: var(--block-height);
    top: var(--block-top);
    left: var(--block-left);
  }
  to {
    opacity: 0;
    width: calc(var(--block-width) + var(--outline-offset));
    height: calc(var(--block-height) + var(--outline-offset));
    top: calc(var(--block-top) - calc(var(--outline-offset) / 2));
    left: calc(var(--block-left) - calc(var(--outline-offset) / 2));
  }
}
