@use "sass:math";

.canvas {
  position: relative;
  display: block;
  flex: 0 2 320px;
  margin-inline: auto;
  width: 320px;
  min-height: 320px;
  transition-property: height, width;
  transition-duration: 0.3s;
}
