@use "@/styling/colors.scss" as c;
@use "@/styling/responsive.scss" as *;

.tab_layout {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: flex-start;

  > header {
    display: flex;
    z-index: 5;

    > button.back_button {
      opacity: 0;
      animation-fill-mode: both;
      animation-delay: 0.3s;
      animation-name: fade-in;
      animation-timing-function: ease-out;
      animation-duration: 0.2s;
      width: 1.4rem;
      margin-left: 0.8rem;
      background: none;
      border: none;
      color: c.$fg;
      cursor: pointer;
      > svg {
        transition: stroke-width 0.1s ease;
      }
      &:hover {
        > svg {
          stroke-width: 2.4px;
        }
      }
    }
    &:has(+ article) {
      margin-bottom: -3px;
    }
  }
  > article[id$="-page"] {
    font-family: var(--font-funnel-display);
    font-size: var(--page-font-size);
    padding: calc(var(--page-font-size) * 0.8) calc(var(--page-font-size) * 1.4);
    row-gap: 0px;
    z-index: 10;
    padding: var(--page-font-size);
    border: 3px solid c.$cambridge_blue;
    transform-origin: top left;
    min-height: 80svh;
    overflow: auto;
    background-color: c.$bg-a;
    opacity: 0;
    transition: opacity 0.2s ease;

    *:not(canvas) {
      z-index: 10;
      text-align: center;
    }

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;

    *:not(p):has(+ p) {
      margin-bottom: 1.2rem;
    }

    @include responsive("mobile") {
      * {
        text-align: center;
      }
    }

    &.animate {
      animation-fill-mode: both;
      translate: 0 -10%;
      animation-name: page-load-in;
      animation-timing-function: ease-out;
      animation-delay: 0.3s;
      animation-duration: 0.2s;
    }
  }
}

@keyframes page-load-in {
  from {
    opacity: 0;
    translate: 0 -10%;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    translate: 0 0;
  }
}
