@use '@/app/colors.scss' as c;

.tab_layout {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: flex-start;

  > article[id$="-page"] {
    font-family: var(--font-funnel-display);
    padding-block: calc(var(--page-font-size) * 0.8);
    padding-inline: calc(var(--page-font-size) * 1.4);
    row-gap: 0px;
    border: 3px solid c.$cambridge_blue;
    transform-origin: top left;
    height: 80svh;
    z-index: 10;
    overflow-y: auto;
    overflow-x: auto;

    &.animate {
      opacity: 0;
      translate: 0 -10%;
      animation-name: page-load-in;
      animation-timing-function: ease-out;
      animation-delay: 0.3s;
      animation-duration: 0.2s;
      animation-fill-mode: both;
    }
  }
}

@keyframes page-load-in {
  from {
    opacity: 0;
    translate: 0 -10%
  }
  to {
    opacity: 1;
    translate: 0 0
  }
}

