@use "@/styling/colors.scss" as c;

button.back_button {
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 0.3s;
  animation-name: fade-in;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
  width: 1.4rem;
  margin-left: 0.8rem;
  background: none;
  border: none;
  color: c.$fg;
  cursor: pointer;

  > svg {
    transition: stroke-width 0.1s ease;
  }
  &:hover {
    > svg {
      stroke-width: 2.4px;
    }
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
    translate: 0 0;
  }
}
