@forward 'colors.scss';

:root {
  --background: #f1fffa;
  --foreground: #121619;
  --outline-to-width: 0px;
  --outline-to-height: 0px;
  --page-font-size: clamp(14px, 2vw, 1.4rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121619;
    --foreground: #f1fffa;
  }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

::view-transition-group(*) {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.2, .96, .64, .97);
}


::view-transition-new(pro-page) {
  animation-name: page-load-in;
  animation-delay: 0.6s
}
