.layout {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  align-items: flex-start;
  min-height: 100svh;
  padding: 1rem;
  max-width: 1024px;
  margin: auto;
  gap: 64px;

  &:has(.button_section) {
    justify-content: center;
    align-items: center
  }
  // font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .layout {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.button_section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 32px;
  transform-origin: center center;
  width: fit-content
}
