@use "@/styling/colors.scss" as c;

.layout {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  max-width: 936px;
  margin: auto;
  gap: 64px;
  height: 100%;
  flex-grow: 1;

  &:has(.button_section) {
    justify-content: center;
    align-items: center;
  }

  > .button_section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
    transform-origin: center center;
    width: fit-content;
  }
}

footer.socials {
  display: flex;
  width: 100%;
  margin-inline: auto;
  justify-content: center;
  padding: 0.8rem;
  column-gap: 2rem;

  > a {
    z-index: 5;
    cursor: pointer;

    > svg {
      height: 2.4rem;
      color: c.$fg;
      overflow: visible;
    }
  }
}
