@forward "@/styling/_viewTransitions.scss";

:root {
  --background: #121619;
  --foreground: #f1fffa;
  --outline-to-width: 0px;
  --outline-to-height: 0px;
  --page-font-size: clamp(15px, 2vw, 1.25rem);
}

html,
body {
  color-scheme: dark;
  min-height: 100svh;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
